This notebooks is used to split the data into train, test and validation sets that I keep separated for a better organization of the project

### Libraries

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [8]:
df = pd.read_csv("../data/silver/df_preprocessed.csv")
df

,Category,Message,word_count,char_count
0,0,go jurong point crazy available bugis n great ...,20,111
1,0,ok lar joking wif u oni,6,29
2,1,free entry number wkly comp win fa cup final t...,28,155
3,0,u dun say early hor u c already say,11,49
4,0,nah dont think go usf life around though,13,61
...,...,...,...,...
5149,1,numbernd time tried number contact u u poundnu...,30,160
5150,0,b going esplanade fr home,8,36
5151,0,pity mood soany suggestion,10,57
5152,0,guy bitching acted like id interested buying s...,26,125
5153,0,rofl true name,6,26

In [9]:
X = df['Message']
y = df['Category']  

X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.2, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [10]:
output_dir = "../data/gold"
os.makedirs(output_dir, exist_ok=True)

train_data = pd.DataFrame({'features': X_train, 'target': y_train})
val_data = pd.DataFrame({'features': X_val, 'target': y_val})
test_data = pd.DataFrame({'features': X_test, 'target': y_test})

train_data.to_csv(os.path.join(output_dir, "train.csv"), index=False)
val_data.to_csv(os.path.join(output_dir, "validation.csv"), index=False)
test_data.to_csv(os.path.join(output_dir, "test.csv"), index=False)

In [11]:
train_data

                                               features  target
4702  hey next sun number there basic yoga course bu...       0
5067                dhoni luck win big titleso winemoji       0
5018                                 really hows master       0
99                             see cup coffee animation       0
2223                       pain couldnt come worse time       0
...                                                 ...     ...
4426     well boy glad g wasted night applebees nothing       0
466   want number get laid tonight want real dogging...       1
3092                                          thanx lot       0
3772                           well ball time make call       0
860   see knew giving break time woul lead always wa...       0

[4123 rows x 2 columns]